/* Add screen styles below */
body {
    background: #D9D9D9;
    margin: 0;
}
header {
    background: #000000;
    color: #FFFFFF;
    padding: 10px;
}
h1 {
    font-size: 60px;
    padding-left: 20px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-weight: normal;
    font-size: 30px;
    padding-top: 10px;
}
section {
    padding-left: 50px;
}
.box {
    background: #FFFFFF;
    padding: 50px;
    text-align: center;
    height: 100px;
    width: 580px;
}
.about {
    width: 568px;
    padding-bottom: 40px;
}
.demographics {
    padding-bottom: 50px;
}
.project {
    padding-bottom: 40px;
}
p {
    font-size: 24px;
}
div.left {
    float: left;
    width: 50%;
}
div.right {
    float: right;
    width: 50%;
}